@import "reset";
@import "fonts";
@import "variables/global";
@import "themes/normal";

.app {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family-main);


  &__backGrid {
    position: absolute;
    grid-template-columns: repeat(24, 80px);
    grid-auto-rows: 100vh;
    display: none;
    @media (min-width: 1920px) and (max-width: 1920px) {
      display: grid;
    }
  }

  &__backItem {
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--fuchia-color);
    opacity: 0.4;
  }


}
