.SmallSlider {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 6px;
  display: none;

  @media (max-width: 600px) {
    display: flex;
    justify-content: space-between;
  }

  &__point {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--black-blue-color);
    opacity: 0.5;
    cursor: pointer;
  }
}
